@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

body {
   display: flex;
   width: 300px;
   height: 350px;
   margin: auto;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #091921;
}

.calculator {
   position: relative;
   border: rgba(237, 177, 25, 0.138) 2px solid;
   padding: 15px;
   border-radius: 8px;
   display: flex;
   max-width: 300px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   box-shadow: -1px -1px 4px rgba(255,255,255,0.1),
                2px 2px 15px rgba(0,0,0,0.8);
}

.title {
   color: #dcc309;
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 5px;
   text-align: center;
}

.display {
  background: linear-gradient(#091921, rgba(0, 0, 0, 0.652), black, black, black, black, black, black, rgba(0, 0, 0, 0.652),  #091921);
  color: rgba(253, 253, 253, 0.542);
  width: 110%;
  text-align: right;
  margin-bottom: 10px;
  height: auto;
}

.calculator .display {
   position: relative;
   height: 100px;
}

.buttons_calculator .operate {
   background-color: rgba(29, 29, 29, 0.467);
}

.erase {
   background-color: rgb(27, 38, 51);
}

.none {
   visibility: hidden;
}

.egal {
   background-color: #04968f13;
}